{% extends 'base.html' %}

{% block extra_nav %}
<li class="nav-item">
    <a class="nav-link" href="/products/add/" style="color: white;">Add Product</a>
</li>
{% endblock %}
{% block content %}
<h1 class="page-title">Products</h1>

<table class="custom-table">
    <thead>
        <tr class="table-header">
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Unit of Measure</th>
            <th>Quantity on Hand</th>
            <th>Cost</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.PRODUCT_ID }}</td>
            <td>{{ product.PRODUCT_NAME }}</td>
            <td>{{ product.UOM }}</td>
            <td>{{ product.QUANTITY_ON_HAND }}</td>
            <td>{{ product.COST }}</td>
            <td>{{ product.STATUS }}</td>
            <td>
                <a href="/products/edit/{{ product.PRODUCT_ID }}/" class="action-link">Edit</a> |
                <a href="/products/delete/{{ product.PRODUCT_ID }}/" class="action-link">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block extra_css %}
body {
    font-size: 15px;
}

.custom-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 20px;
    overflow-y: auto;
}

.custom-table th, .custom-table td {
    text-align: left;
    padding: 8px;
}

.table-header {
    background-color: teal;
    color: white;
}

.custom-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.action-link {
    text-decoration: none;
    color: #007bff;
    margin-right: 5px;
}
{% endblock %}